@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "ubuntu", serif;
    margin: 0;
    background-color: #f9ea9a;
}

#logo {
    display: block;
    margin: auto;
}

header {
    background-color: #FF5F10;
    box-shadow: 0px 3px 4px 1px #FF5F10;
}

#subtitulo {
    color: #f9ea9a;
    text-shadow: 1px 1px #867f52;
    font-weight: 700;
    font-size: 2.3em;
    text-align: center;
    margin-bottom:-33px;
    padding-bottom: 33px;
}

#nav-cabeca {
    background-color: #880D1E;
    outline: 2px double #1F0812;
    border-radius: 10px;
    width: 520px;
    display: block;
    margin: auto;
    font-weight: 500;
    font-style: italic;
}

ul :hover {
    background-color: #cc5565;
    color: #880D1E;
    padding: 4px 4px;
    border-radius: 6px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-right: -3px;
}

#nav-cabeca :active {
    color: #880d1d4b;
}

.menu {
    color: #f9ea9a;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

main {
    max-width: 960px;
    min-width: 470px;
    margin: auto;
    padding: 2px 20px 2px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

main > p {
    font-weight: normal;
    line-height: 21px;
    text-indent: 15px;
    margin-bottom: 22px;
}

#apresentacao {
    background-color: #978c40;
    color: white;
    text-shadow: 3px 3px #867f52;
    border-radius: 10px;
    width: 520px;
    padding: 6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
}

.container {
    margin: auto;
}

.receita {
    width: 422px;
    height: 400px;
    margin: 10px 15px;
    padding: 8px;
    display: inline-block;
    vertical-align: top; /*Para deixar as divs alinhadas direitinho independente se uma tem mais conteúdo que a outra*/
    background-color: #a89b45;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
}

.receita > h1 {
    margin: 6px 10px 9px 9px;
    font-style: italic;
    color: #f9ea9a;
    font-size: 1.7em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.receita > p {
    color: white;
}

.receita > img {
    display: block;
    margin: auto;
}

.receita > button {
    height: 41px;
    width: 137px;
    display: block;
    margin: auto;
    font: normal 500 15px 'ubuntu';
    background-color: #FF5F10;
    border: 0px none #FF5F10;
    border-radius: 20px;
    color: white;
}

span {
    color: #a89b45;
}

.receita >button:hover {
    background-color: white;
    outline: solid 2.5px #FF5F10;
    color: #FF5F10;
}

.receita >button:active {
    background-color: white;
    outline: solid 2.5px white;
    color: #FF5F10;
}

footer {
    background-color: #1F0812;
    color: white;
    margin-top: 25px;
    padding: 2px 30px;
}

#redes-sociais {
    display: flex; /* Alinha os itens lado a lado */
    list-style: none; /* Remove os marcadores da lista */
    padding: 30px; /* Remove o espaçamento interno */
    margin: 0; /* Remove o espaçamento externo */
    gap: 50px; /* Espaçamento entre as imagens (opcional) */
    justify-content: center;
  }